[core]                                                                                                                                                        
#	pager = delta --plus-color="#005500" --minus-color="#340001" --theme='Monokai Extended'                                                               
#	pager = delta --dark  --theme='zenburn'
[color]
	ui = auto
[alias]
	st = status -sb
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	b = branch -v
	ba = branch -va
	ci = commit -v
	co = checkout
	cb = checkout -b
	cp = cherry-pick
	logs = log --stat
	logp = log -p
	rename = branch -m
	rmb = branch -D
	ri = rebase -i
	bsort = for-each-ref --count=30 --sort=-committerdate --format=\"%(committerdate:iso8601) %(refname:short)\" refs/heads/
	find-merge = "!sh -c 'commit=$0 && branch=${1:-HEAD} && (git rev-list $commit..$branch --ancestry-path | cat -n; git rev-list $commit..$branch --first-parent | cat -n) | sort -k2 | uniq -f1 -d | sort -n | tail -1 | cut -f2'"
	show-merge = "!sh -c 'merge=$(git find-merge $0 $1) && [ -n \"$merge\" ] && git show $merge'"
	grepp = grep -n -p
	grepw = grep -n -p -W
	addp = add -p
	showlog = show --pretty=format:"%B" --no-patch
	shows = show --stat
	diffs = diff --stat
[merge]
	ff = false
[diff]
	algorithm = patience
	compactionHeuristic = true
#[pager]
#	log = diff-highlight | less
#	show = diff-highlight | less
#	diff = diff-highlight | less
[interactive]
#	diffFilter = diff-highlight
#	diffFilter = delta --color-only
[blame]                                                                                                                                                       
	date = human                                                                                                                                          
